//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext);
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
$fontSize: 18;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1279;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #00887a;
$mainColor2: #fff;
$fontColor: #fff;
$fontColor2: black;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

.flex {
	display: flex;
	flex-wrap: nowrap;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	&__feedback-form {
		background-color: $mainColor;
		color: $fontColor2;
	}
}
.feedback-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 559px;
	padding: 0px 20px;

	@media (max-width: $md1+px) {
		justify-content: center;
	}

	&::before {
		content: "";
		width: 615px;
		height: 450px;
		background-image: url(../img/form/head1.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		top: 10px;
		left: 0px;
		z-index: 5;
		@media (max-width: $md1+px) {
			display: none;
		}
	}
	// .feedback-form__img

	&__img {
	}

	// .feedback-form__form

	&__form {
		width: 600px;

		border-radius: 40px;
		background-color: $mainColor2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (max-width: 600px) {
			width: 350px;
		}
	}

	// .feedback-form__top

	&__top {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	// .feedback-form__title

	&__title {
		text-align: center;
		font-size: 40px;
		font-weight: 600;
		margin: 40px 0px 20px 0px;
	}

	// .feedback-form__text

	&__text {
		text-align: center;
		margin-bottom: 30px;
		@media (max-width: 600px) {
			display: none;
		}
	}

	// .feedback-form__bottom

	&__bottom {
		background: #ccdad8;
		padding: 40px 0px;
		border-bottom-right-radius: 40px;
		border-bottom-left-radius: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .feedback-form__item

	&__item {
		display: flex;
		/* position: relative; */
		justify-content: center;
		@media (max-width: 600px) {
			flex-direction: column;
		}
	}
	
	// .feedback-form__item-text
	
	&__item-text {
		position: relative;
		font-style: italic;
		font-size: 16px;
		font-weight: 300;
		margin: 0px 0px 30px 20px;
		&:first-child {
			margin: 0px 50px 0px 45px;
		}
		@media (max-width: 600px) {
			padding-left: 70px;
			
			margin: 0px 0px 20px 20px;
			&:first-child {
				margin: 20px 50px 35px 20px;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: -9px;
			left: -44px;
			@media (max-width: 600px) {
				top: -10px;
				left: 25px;
			}
			width: 36px;
			height: 36px;
			background-image: url(../img/form/icon2.png);
			background-size: contain;
		}
	}

	// .feedback-form__callback

	&__callback {
		margin: 0 auto;
		@media (max-width: 600px) {
			display: flex;
			justify-content: center;
			margin: 0px;
		  }
	}
	
	// .feedback-form__items
	
	&__items {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;
		display: inline-block;
		padding-right: 10px;
		white-space: nowrap;
		@media (max-width: 600px) {
		 flex-direction: column;
		 white-space:normal;	 
		 margin-left: 10px;
		}
}

	// .feedback-form__tell

	&__tell {
		display: inline-block;
		padding-right: 10px;
		margin-left: 20px;
		width: 230px;
		@media (max-width: 600px) {
			padding-right: 0px;
			width: 285px;
			margin: 0px 0px 30px 0px;
			display: block;
		}
	}

	// .feedback-form__btn

	&__btn {
		width: 230px;
		display: inline-block;
		align-items: center;
		padding-left: 10px;
		position: relative;
		top: -3px;
		left: 0;
		transition: all 0.1s linear;
		&:hover {
			top: 0px;
		}
		@media (max-width: 600px) {
			width: 285px;
			position: static;
			display: block;
			padding-left: 0px;
		}
	}

	&__tell1 {
		height: 60px;
		width: 100%;
		border-radius: 30px;
		padding: 0px 0px 0px 25px;
	}

	&__btn1 {
		background-color: $mainColor;
		white-space: nowrap;
		align-items: center;
		padding: 17px;
		border-radius: 30px;
		text-transform: uppercase;
		font-weight: 500;
		box-shadow: 0 6px 0 0 #016d62;
		&:hover {
			box-shadow: 0 4px 0 0 #016d62;
		}
		@media (max-width: 600px) {
			width: 285px;
		}
	}
}
//===================================================================

.services {
	display: flex;
	flex-direction: column;
	align-items: center;

	// .services__wrapp

	&__wrapp {
		background-color: #f0f8ff;
	}
	// .services__items

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		@media (max-width: $md1+px) {
			flex-wrap: wrap;
			justify-content: center;
		}
		@media (max-width: 630px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	// .services__item

	&__item {
		margin: 20px;
		width: 20%;

		@media (max-width: $md1+px) {
			/* padding: 10px; */
			margin: 10px;
			max-width: 205px;
			width: 33.3333%;
		}
		@media (max-width: $md2+px) {
			margin: 10px;
			max-width: 205px;
			width: 50%;
		}
		@media (max-width: 630px) {
			width: 100%;
			/* display: block; */
			max-width: 580px;
			margin: 10px -10px 10px -10px;
		}
	}

	// .services__link

	&__link {
		/* min-width: 205px; */
		display: block;
		border-radius: 30px;
		overflow: hidden;
		@media (max-width: 630px) {
			display: flex;
			flex-direction: row;
		}
		&:hover {
			box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
			transform: translateY(-8px);
			transition: all 0.5s ease 0s;
		}
	}

	// .services__img

	&__img {
		display: block;
		height: 210px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		@media (max-width: 630px) {
			height: 135px;
			width: 135px;
			min-width: 135px;
		}
	}

	// .services__text

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 150px;
		padding: 20px;
		background: $mainColor;
		color: $mainColor2;
		font-weight: 400;
		line-height: 22px;
		@media (max-width: 630px) {
			height: 135px;
			width: 100%;
			max-width: 410px;
			/* font-size: 20px; */
			padding: 0px 10px;
		}
	}
}

.caption {
	font-size: 40px;
	font-weight: 700;
	color: #000;
	text-align: center;
	margin: 60px 0px 20px 0px;
	@media (max-width: $md1+px) {
		font-size: 38px;
	}
}
.caption-smoll {
	font-weight: 400;
	color: #000;
	text-align: center;
	margin-bottom: 20px;
}
.img-spt {
	background-image: url(../img/servise/service-1.jpg);
}
.img-sks {
	background-image: url(../img/servise/service-2.jpg);
}
.img-domofon {
	background-image: url(../img/servise/service-3.jpg);
}
.img-video {
	background-image: url(../img/servise/service-4.jpg);
}
.img-hlagbaum {
	background-image: url(../img/servise/service-5.jpg);
}
//==============================================================
