//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Source Sans Pro";

$fontSize: 18;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1279;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #00887a;
$mainColor2: #fff;
$fontColor: #fff;
$fontColor2: black;
$fontColor3: #f0f8ff;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $fontColor2;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		/* padding: 0 10px; */
	}
}

.flex {
	display: flex;
	flex-wrap: nowrap;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
@import "fireSaferty";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	&__feedback-form {
		background-color: $mainColor;
		color: $fontColor2;
	}
}
.feedback-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 559px;
	padding: 320px 20px;
	width: 100%;
	box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.7) inset;
	@media (max-width: $md1+px) {
		justify-content: center;
	}
	// .feedback-form__img

	&__img img{
		width: 615px;
		height: 450px;
		@media (max-width: $md1+px) {
			display: none;
		}
	}

	&__form {
		width: 600px;
		border-radius: 40px;
		background-color: $mainColor2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.33);
		@media (max-width: 600px) {
			width: 350px;
		}
	}

	// .feedback-form__top

	&__top {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	// .feedback-form__title

	&__title {
		text-align: center;
		font-size: 40px;
		font-weight: 600;
		margin: 40px 10px 20px 10px;
	}

	// .feedback-form__text

	&__text {
		text-align: center;
		margin-bottom: 30px;
		@media (max-width: 600px) {
			display: none;
		}
	}

	// .feedback-form__bottom

	&__bottom {
		background: #ccdad8;
		padding: 40px 0px;
		border-bottom-right-radius: 40px;
		border-bottom-left-radius: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .feedback-form__item

	&__item {
		display: flex;
		justify-content: center;
		@media (max-width: 600px) {
			flex-direction: column;
		}
	}

	// .feedback-form__item-text

	&__item-text {
		position: relative;
		font-weight: 400;
		margin: 0px 0px 30px 20px;
		&:first-child {
			margin: 0px 50px 0px 45px;
		}
		@media (max-width: 600px) {
			padding-left: 70px;
			margin: 0px 0px 35px 20px;
			&:first-child {
				margin: 0px 50px 35px 20px;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: -9px;
			left: -44px;
			@media (max-width: 600px) {
				top: -10px;
				left: 25px;
			}
			width: 36px;
			height: 36px;
			background-image: url(../img/form/icon2.png);
			background-size: contain;
		}
	}

	// .feedback-form__callback

	&__callback {
		margin: 0 auto;
	}

	// .feedback-form__items

	&__items {
		display: flex;
		width: 500px;
		padding: 0px 13px;
		justify-content: space-between;
		@media (max-width: 600px) {
			width: 280px;
			flex-direction: column;
			justify-content: center;
		}
	}

	// .feedback-form__tell

	&__tell {
		width: 230px;
		@media (max-width: 600px) {
			width: 255px;
			margin: 0px 0px 30px 0px;
			display: block;
		}
	}
	&__tell1 {
		height: 60px;
		width: 100%;
		border-radius: 30px;
		padding: 0px 0px 0px 25px;
		box-shadow: 0px 5px 10px -7px rgba(34, 60, 80, 0.32);
	}
}
.btnV1 {

	position: relative;
	top: 0px;
	left: 0;
	transition: all 0.1s linear;
	&:hover {
		top: 5px;
	}
}

.btnV2 {
	
	width: 230px;
	border-radius: 30px;
	padding: 16px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: black;
	background-color: #ffe400;
	box-shadow: 0 6px 0 0#d1bc03;
	&:hover {
		box-shadow: 0 4px 0 0 #b8a609;
	}
	@media (max-width: 600px) {
		width: 255px;
	}
}
//===================================================================

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0px;
	@media (max-width: $md1+px) {
		padding: 80px 0px;
	}
	// .services__wrapp

	&__wrapp {
		background-color: $fontColor3;
		box-shadow: 2px 2px 26px -6px rgba(34, 60, 80, 0.51) inset;
	}
	// .services__items

	&__items {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md1+px) {
			flex-wrap: wrap;
			justify-content: center;
		}
		@media (max-width: 630px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	// .services__item

	&__item {
		margin: 20px;
		width: 20%;
		

		@media (max-width: $md1+px) {
			margin: 10px;
			max-width: 205px;
			width: 33.3333%;
		}
		@media (max-width: $md2+px) {
			margin: 10px;
			max-width: 205px;
			width: 50%;
		}
		@media (max-width: 630px) {
			width: 90%;
			max-width: 580px;
		}
	}

	// .services__link

	&__link {
		display: block;
		border-radius: 30px;
		overflow: hidden;
		box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.33);
		transition: all 0.3s ease 0s;
		@media (max-width: 630px) {
			display: flex;
			flex-direction: row;
		}
		&:hover {
			box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
			transform: translateY(-8px);
			transition: all 0.5s ease 0s;
		}
	}

	// .services__img

	&__img {
		height: 210px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		@media (max-width: 630px) {
			height: 135px;
			min-width: 135px;
		}
		&::after{

		}
	}

	// .services__text

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 150px;
		padding: 20px;
		background: $mainColor;
		color: $mainColor2;
		font-weight: 400;
		line-height: 22px;
		@media (max-width: 630px) {
			height: 135px;
			width: 100%;
			padding: 0px 10px;
		}
	}
}

.caption {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	padding: 0px 15px;
	margin: 0px 0px 20px 0px;
	@media (max-width: $md1+px) {
		font-size: 38px;
	}
	@media (max-width: 600px) {
		font-size: 32px;
	}
}
.caption-smoll {
	font-weight: 400;
	text-align: center;
	padding: 0px 15px;
	margin-bottom: 20px;
	line-height: 20px;
	@media (max-width: 600px) {
		font-size: 17px;
	}
}
.img-spt {
	background-image: url(../img/servise/service-1.jpg);
}
.img-sks {
	background-image: url(../img/servise/service-2.jpg);
}
.img-domofon {
	background-image: url(../img/servise/service-3.jpg);
}
.img-video {
	background-image: url(../img/servise/service-4.jpg);
}
.img-hlagbaum {
	background-image: url(../img/servise/service-5.jpg);
}
//==============================================================
.warranty {
	// .warranty__wrapp

	&__wrapp {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 150px 10px;
		@media (max-width: $md2+px) {
			padding: 100px 10px;
		}
		@media (max-width: $md2+px) {
			padding: 60px 10px;
		}
	}

	// .warranty__body-text

	&__body-text {
		width: 800px;
		@media (max-width: $md2+px) {
			width: 100%;
		}
	}

	// .warranty__text

	&__text {
		padding: 0px 15px;
		margin: 30px 0px 60px 0px;
		line-height: 23px;
		font-weight: 400;
		@media (max-width: $md2+px) {
			text-align: center;
		}
	}

	// .warranty__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: $md2+px) {
			padding-left: 20px;
		}
		@media (max-width: 600px) {
			justify-content: center;
		}
	}

	// .warranty__item

	&__item {
		display: flex;
		flex-direction: row-reverse;
		width: 50%;
		height: 80px;
		margin: 20px 0px;

		@media (max-width: 600px) {
			width: 90%;
		}
	}

	// .warranty__item-text

	&__item-text {
		flex: 1;
		line-height: 23px;
		font-weight: 300;
		align-items: center;
		padding-top: 20px;
		@media (max-width: $md2+px) {
			margin-right: 20px;
		}
		@media (max-width: 600px) {
			padding-top: 30px;
		}
	}

	// .warranty__body-img

	&__body-img img{
		width: 400px;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
}

.warranty-img {
	height: 90px;
	width: 90px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 10px;
}
.num-1 {
	background-image: url(../img/warranty/1.svg);
}
.num-2 {
	background-image: url(../img/warranty/2.svg);
}
.num-3 {
	background-image: url(../img/warranty/3.svg);
}
.num-4 {
	background-image: url(../img/warranty/4.svg);
}

//===========================================================================================================

.steps {
	background-color: $fontColor3;
	box-shadow: 2px 2px 26px -6px rgba(34, 60, 80, 0.51) inset;
	// .steps__wrapp

	&__wrapp {
		display: flex;
		flex-direction: column;
		padding-top: 90px;
		@media (max-width: $md2+px) {
			padding-top: 60px;
		}
	}

	// .steps__text

	&__text {
		margin-bottom: 40px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		@media (max-width: $md2+px) {
			margin-bottom: 0px;
			padding: 0px 30px;
		}
	}

	// .steps__colums

	&__colums {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 50px 0px;
		@media (max-width: $md2+px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	// .steps__colum-step1

	&__colum-step1 {
		background-color: #ffffff;
		width: 320px;
		height: 580px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 20px;
		border-radius: 30px;
		box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.46);
		@media (max-width: $md2+px) {
			width: 480px;
		}
		@media (max-width: $md3+px) {
			width: 420px;
		}
		@media (max-width: 460px) {
			width: 285px;
			height: 600px;
		}
	}

	// .steps__colum-step2-4

	&__colum-step2-4 {
		width: 26%;
		margin: 0px 0px 0px 80px;
		padding: 40px 20px 0px 20px;
		@media (max-width: $md2+px) {
			width: 370px;
			margin: 0px 0px 0px 20px;
			padding: 40px 0px 0px 20px;
		}
		@media (max-width: 430px) {
			width: 300px;
		}
	}

	// .steps__colum-step3-5

	&__colum-step3-5 {
		width: 26%;
		margin-left: 150px;
		padding: 100px 50px 20px 20px;
		@media (max-width: $md2+px) {
			width: 370px;
			margin-left: 20px;
			padding: 0px 50px 20px 20px;
		}
		@media (max-width: $md3+px) {
			margin-left: 20px;
		}
		@media (max-width: 430px) {
			margin-left: 20px;
			width: 300px;
		}
	}

	// .steps_fon
	&_fon {
		position: relative;
		margin-top: 70px;
		@media (max-width: $md2+px) {
			margin-top: 0px;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 30px;
			left: -30px;
			border-radius: 30px;
			height: 200px;
			width: 350px;
			background-color: #ffe400;
			box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.33);
			@media (max-width: $md1+px) {
				height: 250px;
				width: 250px;
			}
			@media (max-width: $md2+px) {
				height: 200px;
				width: 380px;
			}
			@media (max-width: $md3+px) {
				height: 200px;
				width: 320px;
			}
			@media (max-width: 360px) {
				height: 200px;
				width: 300px;
			}
		}
	}
}

.step {
	color: $fontColor3;
	position: relative;
	margin: 0px 0px 40px 0px;
	@media (max-width: $md2+px) {
		margin: 0px 0px 30px 0px;
	}
	&::after {
		content: "";
		position: absolute;
		top: -10px;
		left: -25px;
		width: 110px;
		height: 45px;
		background-color: #ffe400;
		border-radius: 15px;
		transform: rotate(6deg);
	}
	&::before {
		content: "";
		position: absolute;
		top: -5px;
		left: -40px;
		width: 110px;
		height: 45px;
		background-color: #4bbb0a;
		border-radius: 15px;
		transform: rotate(-5deg);
	}
	span {
		position: relative;
		z-index: 5;
		font-weight: 700;
		font-size: 25px;
	}

	// .step_indent

	&_indent {
		margin: 140px 0px 40px 0px;
		@media (max-width: $md2+px) {
			margin: 60px 0px 30px 0px;
		}
	}

	// .step__title

	&__title {
		font-weight: 900;
		font-size: 25px;
		line-height: 20px;
		margin-bottom: 20px;
		position: relative;
	}

	// .step__text

	&__text {
		position: relative;
		font-weight: 400;
		line-height: 25px;
		margin-bottom: 50px;
		text-align: center;
		&_v2 {
			text-align: left;
		}
		@media (max-width: $md2+px) {
			margin-bottom: 70px;
		}
	}
	// .step__img

	&__img {
		width: 128px;
		height: 128px;
		background-image: url(../img/steps/man.png);
		background-size: contain;
		background-repeat: no-repeat;
		margin-bottom: 50px;
	}
	// .step__img-bg
	&__img-bg {
		padding: 20px;
		height: 180px;
		width: 180px;
		border-radius: 90px;
		background-color: #77a6f7;
		margin-bottom: 50px;
		box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.33);
	}

	// .step__color

	&__color {
		// .step__color_blue

		&_blue {
			&::after {
				content: "";
				position: absolute;
				top: -10px;
				left: -25px;
				width: 110px;
				height: 45px;
				background-color: #77a6f7;
				border-radius: 15px;
				transform: rotate(6deg);
			}
			&::before {
				content: "";
				position: absolute;
				top: -5px;
				left: -40px;
				width: 110px;
				height: 45px;
				background-color: #315ca7;
				border-radius: 15px;
				transform: rotate(-5deg);
			}
		}
	}
}

.arrow {
	&::after {
		content: "";
		position: absolute;
		top: -90px;
		left: 100px;
		width: 381px;
		height: 447px;
		background-image: url(../img/steps/arrow.png);
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: $md1+px) {
			content: none;
		}
	}

	&::before {
		content: "";
		width: 182px;
		height: 248px;
		top: 110px;
		left: 100px;
		position: absolute;
		background-image: url(../img/steps/datch.png);
		@media (max-width: $md2+px) {
			content: none;
		}
	}
}
//================================================================
